version: "3.9"

services:
#   redis:
#     image: redis:7
#     ports:
#       - "6379:6379"

#   dynamodb:
#     image: amazon/dynamodb-local
#     ports:
#       - "8000:8000"
#     command: "-jar DynamoDBLocal.jar -sharedDb"

#   localstack:
#     image: localstack/localstack
#     ports:
#       - "4566:4566"
#     environment:
#       - SERVICES=s3
#       - AWS_DEFAULT_REGION=eu-west-1

  ui:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "5173:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    # depends_on:
    #   - api-gateway